In [1]:
import pandas as pd
import csv

In [147]:
df = pd.read_csv("Multiple_year_stock_data_2014.csv")
# df =df.drop(["Unnamed: 7"], axis=1)
df.head()

  <ticker>    <date>  <open>  <high>  <low>  <close>    <vol>
0        A  20140101   57.19   57.19  57.19    57.19        0
1        A  20140102   57.10   57.10  56.15    56.21  1916100
2        A  20140103   56.39   57.35  56.26    56.92  1866600
3        A  20140106   57.40   57.70  56.56    56.64  1777400
4        A  20140107   56.95   57.63  56.93    57.45  1463200

In [152]:
vol_list = []
ticker_list = []
yearly_change_list = []
for ticker in df["<ticker>"].unique():
    stock_vol = df.loc[(df["<ticker>"] == ticker), "<vol>"].values.sum()
    vol_list.append(stock_vol)
    
    first_entry = df.loc[(df["<ticker>"] == ticker), "<ticker>"].index[0]
    last_entry = df.loc[(df["<ticker>"] == ticker), "<ticker>"].index[-1]
    open_price = df["<open>"].iloc[first_entry]
    close_price = df["<close>"].iloc[last_entry]
    yearly_change = close_price - open_price
    yearly_change_list.append(yearly_change)
    
    ticker_list.append(ticker)

In [153]:
analysis_df = pd.DataFrame({"Ticker": ticker_list, "Yearly Change": yearly_change_list, "Total Stock Volume": vol_list})
analysis_df.head(10)

  Ticker  Yearly Change  Total Stock Volume
0      A         -16.25           572978100
1     AA          15.48          5161412000
2   AA-B           1.34            21618200
3    AAC          10.92             9789700
4    AAN           1.17           237929300
5    AAP          48.60           200376400
6    AAT           8.38            40207800
7    AAV           0.45            86658700
8     AB           4.49            83051600
9    ABB          -5.41           466820000